<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生徒情報登録</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <h2>生徒情報登録</h2>
    <form action="" method="post">
        <label for="name">名前:</label>
        <br>
        <input type="text" name="name" id="name">
        <br>
        <label for="school_year">学年:</label>
        <br>
        <input type="text" name="school_year" id="school_year">
        <br>
        <label for="class_room">クラス:</label>
        <br>
        <input type="text" name="class_room" id="class_room">
        <br>
        <label for="number">番号:</label>
        <br>
        <input type="text" name="number" id="number">
        <br>
        <label for="password">パスワード:</label>
        <br>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" value="Join">
    </form>
</body>
</html>
