<!DOCTYPE html>
<html>
<head>
    <title>Home Learning</title>
</head>
<body>
    <h1>2024.9.15 1年2組<数学1></h1>
    <!-- YouTube 動画の埋め込み -->
    <iframe width="640" height="360" src="https://www.youtube.com/embed/rPCm-v_W4Ng?list=PLCZyyif9kAwX7rlXKrJTlPQs9Nk7TBAHO" title="01. 習得したい言語第1位！！Pythonとは？ | 中学生でもわかるPython入門シリーズ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</html>
<body>





