<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Learning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>2024.9.15 1年2組<数学1></h1>
    <!-- YouTube 動画の埋め込み -->
    <iframe width="640" height="360" src="https://www.youtube.com/embed/L5qpin1xO_s" title="【新中学1年生へ】中1数学は簡単じゃない" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <h2>2024.9.15 1年2組<英語1></h2>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/WkipCckEMUs" title="【中1英語】基本英文を55和訳して覚える一問一答｜リスニング対策" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <h3>2024.9.15 1年2組<国語1></h3>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/O-VkiN1dfNs" title="【一問一答　中学国語】品詞の分類　～音声あり～　小学・高校受験向き" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</html>
<body>





